---
import gameData from "../../data/gameData.js";
import Gamecard from "../../components/Gamecard/Gamecard.astro";

---
<ul>
    {
        gameData.map(({name, path, image}) => {
          return (
            <li class="my-2">
              <Gamecard title={name} href={path} image={image} />
            </li>
          )
        })
      }
</ul>