---
import Layout from "../layouts/Layout.astro";
import ShuffleBubble from "../components/ShuffleBubble.astro";

---

<Layout title="Pàgina no trobada">
    <h1>404</h1>
    <p>Pàgina no trobada</p>
    <ShuffleBubble />
    <a href="/">Tornar a l'inici</a>
</Layout>