---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Galió Goblin, un joc de Grumlin Games">
    <h1>Galió Goblin</h1>
    <p class="text-4xl mb-6 text-pretty">
        Galió Goblin és un joc de taula de Grumlin Games. Un joc de cartes on els jugadors han de construir un vaixell pirata i lluitar contra altres jugadors per aconseguir el tresor.
    </p>
</Layout>