---
import Layout from "../layouts/Layout.astro";
import Games from "../components/Games/Games.astro";
---

<Layout title="Benvinguts/des a Grumlin Games">
  <h1>Grans jocs, petites caixes</h1>
  <Games />
</Layout>