---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Magimals, un joc de Grumlin Games">
    <h1>Magimals</h1>
    <p class="text-4xl text-bold mb-6">Magimals és un joc de cartes de Grumlin Games. Un joc de cartes de criatures màgiques on els jugadors hauran de lluitar per ser el millor entrenador de Magimals.</p>
    <p>El joc està dissenyat per a 2 jugadors i la durada de les partides és d'uns 20 minuts. El joc està recomanat per a nens i nenes a partir de 6 anys.</p>
</Layout>