---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Misty Valley, un joc de Grumlin Games">
    <h1 class="text-balance">Misty Valley</h1>
    <p class="text-4xl mb-6 text-pretty">Misty Valley és un divertit joc de taula per a dos intrèpids exploradors. Descobreix la vall neblinosa i conquereix els seus recursos per guanyar!</p>
    <p>La Vall Nebulosa amaga molts secrets, però només els exploradors més intrèpids poden descobrir-los! Uneix-te a una de les dues tribus, els 'Roebayas' i els 'Buscarrastres', i explora terreny desconegut, competint amb el teu rival pels recursos més valuosos. Comença l'aventura amb Misty Valley!</p>
</Layout>