---
---

<footer class="border-t-2 border-gray-300">
    <p class="bg-slate-950 text-slate-300 p-3">
        <small class="flex justify-center">Copyright &copy; <span id="copyright"> </span>. Tots els drets reservats.</small>
    </p>
</footer>

<script>
    document.getElementById("copyright").textContent = new Date().getFullYear().toString();
</script>