---
import { Icon } from 'astro-icon/components';
import NavbarMenu from "./NavbarMenu/NavbarMenu.astro";
import navData from "../data/gameData.js";
import { getLangFromUrl, useTranslations } from "../i18n/utils.ts";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<NavbarMenu />
<header class="border-b-2 border-solid border-gray">
  <nav class="justify-between flex align-end p-4 items-end relative lg:flex-col lg:items-center lg:pt-4 lg:pb-0">
    <div class="flex flex-auto justify-center">
      <a href="./">
        <span class="sr-only">{t('head.home_page')}</span>
        <Icon name="logo" width={189} height={267} class="main_logo" />
      </a>
    </div>
    <ul class="hidden lg:flex lg:items-center lg:space-x-4 lg:mt-4">
      {
        navData.map((item) => (
        <li class="flex">
          <a href=`${item.path}` class=" hover:text-slate-700 px-4 py-2 hover:text-slate-700 hover:bg-slate-300">
            {item.name}
          </a>
        </li>
        ))
      }
    </ul>
    <div class="nav-mobile-actions absolute right-4 top-1/2 lg:hidden">
      <button class="openNavBarMenu">
        <span class="sr-only">{t("navbarmenu.open")} </span><Icon name="mdi:hamburger-menu" width={24} height={24} /></button>
    </div>
  </nav>
</header>

<style>
  .main_logo {
    width: 100px;
    height: auto;
    clip-path: polygon(22% 60%, 18% 55%, 18% 51%, 14% 47%, 15% 42%, 21% 38%, 24% 32%, 25% 23%, 29% 16%, 35% 10%, 37% 6%, 38% 0%, 45% 0%, 47% 6%, 47% 12%, 47% 16%, 46% 21%, 53% 19%, 55% 12%, 57% 6%, 60% 0%, 67% 0%, 70% 6%, 71% 12%, 74% 18%, 75% 26%, 76% 33%, 77% 39%, 84% 42%, 87% 48%, 81% 51%, 80% 57%, 76% 61%, 87% 60%, 95% 57%, 98% 63%, 97% 72%, 97% 78%, 93% 83%, 85% 84%, 85% 90%, 83% 96%, 78% 100%, 51% 99%, 31% 100%, 21% 99%, 17% 94%, 16% 88%, 19% 83%, 11% 83%, 5% 80%, 2% 73%, 3% 67%, 8% 60%, 15% 60%);
  }
</style>

