---
interface Props {
    text: string;
    href: string;
    isBlank?: boolean;
    classes?: string;
}

const {
    text,
    href,
    isBlank = false,
    classes,
    ...rest
} = Astro.props as Props;
---

<a href={href} 
    class:list={[
        "link",
        classes
    ]} 
    {...rest} 
    target={isBlank ? "_blank" : ""} 
    rel={isBlank ? 'noreferrer noopener' : ''}
>   <slot name="before" />
    {text}
    <slot name="after" />
</a>