---

---
<script>
  const frases = [
    'Grandes juegos, pequeñas cajas',
    '"¡Hulk aplasta aburrimiento! ¡Juegos de mesa lo salvan!"',
    'Ganar o perder, importante no es. Divertirse, lo esencial es',
    'Ganar divertido, ¡pero compartir más! Jar Jar dar abrazos, ¡todos felices!',
    'Noche de juegos, ¡noche especial! Gollum contar historias, ¡todos reír!',
    '¡Dados lanzados! ¡El Coyote gana! ¡Eureka!',
    '¡Mip, mip! ¡Hasta la próxima!',
    '"Aburrimiento, ¡al mar! Juegos de mesa, ¡a bordo!"'
  ];

const balloon = document.querySelector('.js-randomize') || null;
if(balloon) {
  balloon.addEventListener('click', () => {
    const frase = frases[Math.floor(Math.random() * frases.length)];
    const content = document.querySelector('.js-randomize-content') || null;
    if(content){
      content.textContent = frase;
    }
  });
}
</script>

<div class="shuffleBubble">
  <div class="balloon flex flex-col gap-3 justify-center">
    <p class="content p-4 js-randomize-content">Grandes juegos, pequeñas cajas</p>
    <button class="die js-randomize">🎲</button>
  </div>
</div>

<style>
  .shuffleBubble {
    align-items: center;
    background-color: var(--lavender-100);
    display: flex;
    flex-direction: column;
    height: 10vh;
    justify-content: center;
  }

  .balloon {
    padding: 10px;
    max-width: 300px;
    min-width: 100px;
  }

  .balloon::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
  }
  .content {
    border-radius: 10px;
    border: 2px solid var(--lavender-400);
  }
  .die {
    background: transparent;
    border: 0;
  }
  .die:hover {
    background-color: var(--lavender-100);
    border-radius: 6px;
    cursor: pointer;
  }
</style>