---
interface Props {
    title: string;
    href: string;
    image: string;
}

const { title, href, image: img } = Astro.props as Props;
import { Image } from 'astro:assets';
---

<div class="gamecard mb-6">
    <a href={href}>
        <div class="gamecard-view">
            <Image src={img} alt="Test" width={736} height={422} />
        </div>
        <div class="gamecard-info flex justify-between py-3 px-2 flex items-center">
            <span class="text-2xl text-bold">{title}</span>
            <div class="border-2 rounded-2xl px-6 py-2">
                <span>Obrir</span>
            </div>
        </div>
    </a>
</div>