---
interface Props {
  title: string;
  language: string;
}

import { ViewTransitions } from "astro:transitions";

import Head from "../components/Head.astro";
import Footer from "../components/Footer.astro";
import LanguageSwitcher from "../components/LanguageSwitcher.astro";
import "../styles/globals.css";
import "@fontsource-variable/dm-sans";
import "@fontsource/dm-serif-display";

const { language, title } = Astro.props;
---

<!doctype html>
<html lang={language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <LanguageSwitcher />
    <Head />
    <main class="container mx-auto p-4 pt-12 max-w-3xl">
      <slot />
    </main>
    <Footer />
    <style is:global>
      :root {
        --font-display: "DM Serif Display", serif;
        --font-body: "DM Sans Variable", sans-serif;

        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }
      /* :root {
        --lavender-50: #fbf8fc;
        --lavender-100: #f5f0f7;
        --lavender-200: #eee3f1;
        --lavender-300: #e0cde5;
        --lavender-400: #cbadd3;
        --lavender-500: #ad7fb9;
        --lavender-600: #a171ac;
        --lavender-700: #8a5c94;
        --lavender-800: #734f7a;
        --lavender-900: #5e4063;
        --lavender-950: #3f2744;
        --font-display: "DM Serif Display", serif;
        --font-body: "DM Sans Variable", sans-serif;

        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );

        color-scheme: light dark;
      } */

      html {
        font-family: system-ui, sans-serif;
        background-size: 224px;
      }
      .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
      }

      h1 {
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: var(--accent-gradient);
        background-position: 0%;
        background-size: 800%;
        font-family: var(--font-display);
      }

      .menu-opened .nm-wrapper__blocker {
        @apply overflow-hidden;
      }
      .menu-opened .nm-wrapper__blocker {
        @apply bg-slate-950 opacity-70 w-full h-screen z-10;
      }
    </style>
  </body>
</html>
